* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style-type: none;
}
.wrapHead{
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #d9d9d9;
  /* transition: all ease-in-out 0.5s; */
}
.wrapHead.fixed-to-top{
  width: 90%;
  background-color: #d9d9d9;
}
header{
  position: fixed;
  width: 100%;
  height: 152px;
  margin-top: -152px;
  background: url("../images/ShortLines.png") bottom left no-repeat, url("../images/longlines.png") top right no-repeat, url("../images/ThickBanner.png") repeat;
  background-color: #d9d9d9;
  z-index: 99;
  /* transition: all ease-in-out 0.5s; */
}
header:after{
  content: "";
  display: block;
  clear: both;
}
header.fixed-to-top{
  height:62px;
  line-height: 62px;
  background:  url("../images/ThinBanner.png") repeat;
  background-color: #d9d9d9;
}

.divclick {

}

.clickable {
  position:absolute;
  width: 600px;
  height: 50px;
  margin-left: 10px;
  margin-top: 40px;
  background-image: url('../images/GRZCapLogo.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1000;
  /* transition: all ease-in-out 0.5s; */
}

.content {
  margin-top: 152px;
  background-color: #d9d9d9;
  z-index: 10;
}

.byline {
  display: inline;
  margin: 0.5em 0 0 0;
  padding: 0 0 0.5em 0;
  text-transform: uppercase;
  font-size: 1.4em;
}

.smallClickable {
  position: absolute;
  margin-left: 20px;
  margin-top: 0px;
  width: 100px;
  height: 60px;
  background-image: url('../images/GZRlogo.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: all ease-in-out 0.5s; */
}


h1 {
   width: 100%;
   text-align: left;
   border-bottom: 5px solid black;
   width: 96%;
   line-height: 0.1em;
   margin: 10px 0 20px 15px;
}

h1 span {
    background:#d9d9d9;
    padding:0 13px;
    font-family: 'Archivo Black';
    font-size: 26px;
}

#brand{
  color: white;
  float: left;
  font-family: 'Roboto';
  font-size: 40px;
}
#brand h1{
  letter-spacing: 10px;
  text-shadow: 1px 1px 1px #000000;
}

.scrolled {
  margin-left: 45%;
  margin-top: 0px;
}

nav {
  position: absolute;
  float: right;
  font-size: 26px;
  font-weight: bold;
  margin-left: 45%;
  margin-top: 100px;
  /* transition: all ease-in-out 0.5s; */
}

nav li{
  display: inline-block;
  margin: 0 20px;
}
nav li a{
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Archivo Black';
  color: #000000;
}
nav li a:hover{
  color: white;
}

/*-------------Big monitors--------------*/
/* @media screen and (max-width: 1885px) {
  nav {
    font-size: 26px;
    margin-left: 38%;
    margin-top: 140px;
  }
  nav li{
    display: inline-block;
    margin: 0 20px;
  }
} */

/*------------Typical 15" Laptops--------------*/
@media screen and (max-width: 1550px) {
  nav {
    font-size: 26px;
    margin-left: 45%;
    margin-top: 100px;
  }
  nav li{
    display: inline-block;
    margin: 0 5px;
  }

  .smallClickable {
    margin-left: 10px;
  }
}

.currentlyactive{
  color:#fff;
}

hr.solid {
  border: 5px solid #d9d9d9;
  width: 85%;
  margin: 20px auto;
}

hr.none {
  opacity: 0;
  margin: 20px auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
     border: 5px #11bb02 solid;
     border-radius: 5px;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-wrapper {
	width: 800px;
     display: inline-block;
	float:left;
	margin: 20px;
	max-width: 100%;
}

#about{
  display: inline-block;
  background: #d9d9d9;
  width: 100%;
}
#services{
  display: inline-block;
  background: #d9d9d9;
}
#contact{
  width:40%;
  height:50vh;
  margin: 20px;
  text-align: left;
  display: block;
  float: right;
  vertical-align: middle;
  position: relative;
  background: #d9d9d9;
}

#contact h2 {
     font-family: 'Roboto';
     font-size: 30px;
     top: 50%;
}

#contact p {
     font-family: 'Open Sans';
     font-size: 20px;
     top: 70%;
}

#contact h2, #contact p {
   position: absolute;
   transform: translate(0, -50%);
}

.featuredarticles {

}

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .footrow{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .footrow a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .footrow a:hover{
color:#fff;
}

.footer .footrow ul{
width:100%;
}

.footer .footrow ul li{
display:inline-block;
margin:0px 30px;
}

.footer .footrow a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
     .footer{
     text-align:left;
     padding:5%;
     }
     .footer .footrow ul li{
     display:block;
     margin:10px 0px;
     text-align:left;
     }
     .footer .footrow a i{
     margin:0% 3%;
     }
}

#notextdec {
  text-decoration: none;
}
