.main{
  padding-top: 10px;
  margin-bottom: 50px;
  margin: auto;
  overflow: hidden;
}
.card{
  width: 40%;
  height: 230px;
  margin: 15px 30px 20px 15px;
  background-color: #c0c0c0;
}

#headshot1 {
  float:left;
}

#headshot2 {
 float:left;
}

.post-image{
  width: 200px;
  height: 200px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}
.post-content{
  width: 50%;
  height: 200px;
  float: left;
  background-color: #fff;
  margin-top: 15px;
  overflow: hidden;
}
.post-content a:link{
  font-size: 28px;
  font-family: 'Roboto';
  text-decoration: none;
}
.post-header{
  font-size: 28px;
  font-family: 'Roboto';
  margin-top: 15px;
  color: black;
  margin-left: 18px;
}

.post-header a {
  color: #11bb02;
  font-family: 'Archivo Black';
}
.post-text{
  font-size: 15px;
  padding-left: 20px;
  color: black;
  margin-top: 15px;
  margin-right: 5px;
  font-family: 'Roboto';
}

/* .author{
  width: 100%;
  height: 60px;
  background-color: #F2F5F8;
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 10px;
}

.author-content{
  width: 60%;
  height: 60px;
  margin-left: 10px;
  float: left;
}

.author-image{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.author-name{
  font-size: 20px;
  color: #3B3C3F;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-top: 10px;
  padding-left: 10px;
} */

.aboutcompany {
  height:70vh;
  color: #000;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
}

.teamhalf {
  display: flex;
  height: 100%;
}

.teamhalf div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teamhalf h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

.left-half {
  background-image: url("images/ornntest.jpg");
  background-size: cover;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-image: url("images/apostrophe.png");
  background-size: cover;
  flex: 1;
  text-align: justify;
}

.right-half p {
  margin: 0 15%;
  font-family: 'Roboto';
}

.modal-window {
	 position: fixed;
	 background-color: rgba(255, 255, 255, 0.65);
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 z-index: 999;
	 visibility: hidden;
	 opacity: 0;
	 pointer-events: none;
	 transition: all 0.3s;
}

 .modal-window:target {
	 visibility: visible;
	 opacity: 1;
	 pointer-events: auto;
}
 .modal-window > div {
	 width: 500px;
      max-height: 70%;
	 position: absolute;
      overflow: auto;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 padding: 2em;
	 background: white;
}
 .modal-window header {
	 font-weight: bold;
}
 .modal-window h2 {
      text-align: center;
      font-family: 'Archivo Black';
	 font-size: 150%;
	 margin: 0 0 15px;
}
 .modal-close {
	 color: #000;
	 line-height: 50px;
	 font-size: 80%;
	 position: absolute;
	 right: 0;
	 text-align: center;
	 top: 0;
	 width: 70px;
	 text-decoration: none;
}
 .modal-close:hover {
	 color: black;
}

 .modal-window div:not(:last-of-type) {
	 margin-bottom: 15px;
}
 .modal-window h3 {
	 color: #c0c0c0;
      text-align: center;
}

 .modal-window img {
      width: 400px;
      margin: 0 auto;
      display: block;
}

.modal-window .sections {
     font-size: 20px;
     color: black;
     font-family: 'Roboto';
     line-height: 35px;
     font-weight: bold;
}

.modal-windows .descriptions {
     font-size: 16px;
     color: black;
     font-family: 'Roboto';
     line-height: 25px;
}

.modal-window > div::-webkit-scrollbar {
  width: 5px;
}

.modal-window > div::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.modal-window > div::-webkit-scrollbar-thumb {
  background-color: #696969;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.profileline {
     color: #d9d9d9;
     border: 2px #d9d9d9 solid;
     margin: 20px auto;
}

 .btn {
	 background-color: white;
	 padding: 1em 1.5em;
	 border-radius: 1rem;
	 text-decoration: none;
}
 .btn i {
	 padding-right: 0.3em;
}

.subhead::first-letter {
     font-size: 200%;
     font-weight: bold;
     color: #11bb02;
}

strong {
     font-family: 'Archivo Black';
     font-size: 20px;
}
