.feature-story {
     float: left;
     width:63%;
     border-radius: 5px;
     font-size: 20px;
     padding: 1.3em 1.5em;
     margin: 1.2em 0 1em 1.5em;
     background-color: #ffffff;
     border-radius: 5px;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.adbanner {
     float: right;
     width: 25%;
     height: 45vh;
     text-align: center;
     background-color: #11bb02;
     margin: 1.4em 1.5em 1em 0;
     border-radius: 5px;
     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.feature-story a {
     text-decoration: none;
     color: #11bb02;
}

.feature-story .type {
     font-size: 0.8em;
     text-transform: uppercase;
     color: #929290;
     display: block;
     letter-spacing: 0.2em;
     margin-bottom: 0.4em;
}
.feature-story p {
     font-family: 'Open Sans';
     line-height: 22px;
     color: #000;
     margin: 0.5em 0;
}
.feature-story h2 {
     margin: 0;
}
.feature-story img {
     float: left;
     width: 100px;
     height: 100px;
     margin: 0 2em 0 0.5em;
}
